@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "sass:math";

@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}


@function str-replace($string, $search, $replace: "") {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg,
  $display: swap
) {
  $src: ();

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map.has-key($extmods, $ext),
      $ext + map.get($extmods, $ext),
      $ext
    );

    $format: if(
      map.has-key($formats, $ext),
      map.get($formats, $ext),
      $ext
    );

    $src: list.append(
      $src,
      url("#{$path}.#{$extmod}") format("#{$format}"),
      comma
    );
  }

  @font-face {
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;
    src: $src, local("#{$name}");
    font-display: $display;
  }
}


// ================================== //
// Convert pixel values to rem units  //
// ================================== //

@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}
  // ================================== //
  // Convert hex color to RGBA with opacity //
  // ================================== //
$opacityMax: 1; // Default opacity
@function color($color, $opacity: $opacityMax) {
    @return rgba($color, $opacity);
}
 