

/* FONTS */
$font-stack: "Arial", sans-serif;
$font-title: "Cambria", sans-serif;
$primary-font-regular : "NON-regular";
$primary-font-thin : "NON-thin";

/*COLORS*/
$primary-color-1 : rgb(237,72,19); //#ed4813 
$primary-color-2 : rgb(15, 15, 15); //#0f0f0f 
$primary-color-3 : rgb(0, 0, 0); //#000000; 
$primary-color-4 : rgb(242, 242, 242); //#f2f2f2; 


